DB_URL=jdbc:mysql://<host>:<port>/<dbname>?useSSL=true&requireSSL=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=avnadmin
DB_PASSWORD=

CLAUDE_API_KEY=sk-ant-...
NEWSAPI_KEY=
HIVE_API_KEY=
